    ul.megaMenu{
        list-style: none outside none;
        display:inline-block;
        position:relative;
    }
    ul.megaMenu > li.menuItem {
        float:left;
        height: 1px;
    }
    ul.megaMenu > li.menuItem:hover > a {
        background: #f9f9f9; /* Old browsers */
        background: -moz-linear-gradient(top,  #f9f9f9 0%, #e3e3e3 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#e3e3e3)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #f9f9f9 0%,#e3e3e3 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #f9f9f9 0%,#e3e3e3 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #f9f9f9 0%,#e3e3e3 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #f9f9f9 0%,#e3e3e3 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e3e3e3',GradientType=0 ); /* IE6-9 */
        color: #000 !important;
        text-shadow:none !important;
    }
    ul.megaMenu > li.menuItem > div.subMenu{
        position:absolute;
        background:#f9f9f9;
        display:inline;
        font-size:11px !important;
        width: 100%;
        min-height: 290px !important;
        max-height:600px;
        list-style: none outside none;
        z-index:999;
        -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
           -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
            -ms-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
             -o-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
                box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
         filter:progid:DXImageTransform.Microsoft.DropShadow(color='cccccc',offX='3',offY='3');
    }
    
    ul.megaMenu > li.menuItem > div.subMenu > ul.menuSubItem{
        position:relative;
        display:block;
        width:auto;
    }
    ul.megaMenu > li.menuItem > div.subMenu > ul.menuSubItem li{
        text-decoration:none;
        display:block;
        width:100%;
    }
    ul.megaMenu > li.menuItem > div.subMenu > ul.menuSubItem li.grocery{
        text-decoration:none;
        display:block;
        width:160px;
    }
    ul.megaMenu > li.menuItem > div.subMenu > ul.menuSubItem li span{
        display:block;
        width:180px;
        width:190px\9;
        *width:190px;
        float:left;
    }
    
    ul.megaMenu > li.menuItem > div.subMenu > ul.menuSubItem li span a{
        text-decoration:none;
        color:#000 !important;
        text-shadow:none !important;
        font-weight:bold;
        display:block;
        border-right:1px solid #e3e3e3 !important;
        padding:2px 10px !important;
        height:auto;
        line-height:20px !important;
    }
    ul.megaMenu > li.menuItem > div.subMenu > ul.menuSubItem li:hover > span a{
        text-decoration:none;
        color:#ed0008 !important;
        text-shadow:none !important;
        background:#fff url(../../resources/images/btnarw_ryt_blk.gif) no-repeat right center;
        display:block;
        z-index:999;
        border-right:1px solid #000 !important;
    }
    ul.megaMenu > li.menuItem > div.subMenu > ul.menuSubItem li.pre-active > span a{
        text-decoration:none;
        color:#ed0008 !important;
        text-shadow:none !important;
        background:#fff url(../../resources/images/btnarw_ryt_blk.gif) no-repeat right center;
        display:block;
        z-index:999;
        border-right:1px solid #000 !important;
    }

    #menu-nav ul li a{
        border-right:none !important;
    }
    
    ul.megaMenu > li.menuItem > div.subMenu > ul.menuSubItem li > div{
        background:#fff !important;
        display:block;
        width:auto;
        float:left;
        position:absolute;
        top:0;
        left:25.5%;
        border-left:1px solid #e3e3e3;
        height:290px;
    }
    
    ul.megaMenu > li.menuItem > div.subMenu > ul.menuSubItem li > div .subsubmenu {
        display: block;
        float: left;
        width: 32.4%;
    }
    ul.megaMenu > li.menuItem > div.subMenu > ul.menuSubItem li > div .subsubmenu ul li {
        display: block;
        float: left;
    }
    ul.megaMenu > li.menuItem > div.subMenu > ul.menuSubItem li > div .subsubmenu ul li a{
        color:#444 !important;
        text-shadow:none !important;
        text-decoration:none;
        padding:2px 10px !important;
        height:auto;
        line-height:20px !important;
    }
    ul.megaMenu > li.menuItem > div.subMenu > ul.menuSubItem li > div .subsubmenu ul li a:hover{
        color:#ed0008 !important;
        text-shadow:none !important;
        text-decoration:none;
    }
    ul.megaMenu > li.menuItem > div.subMenu > ul.menuSubItem li > div .subsubmenu ul li a.more{
        color:#ed0008 !important;
        background:#f9f9f9 url(../../resources/images/navlist_arrow_hover.png) no-repeat right center;
    }
    .subsubmenu ul li.listHeading {
        padding-left:15px;
        border-bottom:1px solid #e3e3e3;
        width:100%;
        color:#ed0008;
        display:block;
    }
    ul.megaMenu > li.menuItem > div.subMenu.centerShift{
        width:93%;
    }
    ul.megaMenu > li.menuItem > div.subMenu.centerShift > ul.menuSubItem li > div{
        background:#fff !important;
        display:block;
        width:72.5%;
        float:right;
        position:absolute;
        top:0;
        left:27.5%;
        border-left:1px solid #e3e3e3;
        height:290px;
    }
    
    ul.megaMenu > li.menuItem > div.subMenu.centerShift > ul.menuSubItem li span{
        display:block;
        width:181px;
        width:192px\9;
        *width:192px;
        float:left;
    }
    ul.megaMenu > li.menuItem > div.subMenu.centerShift > ul.menuSubItem li.listHeading{
        padding-left:12px;
    }
    
    ul.megaMenu > li.menuItem > div.subMenu.leftShift > ul.menuSubItem li > div .subsubmenu {
        float: right;
    }
    
    ul.megaMenu > li.menuItem > div.subMenu.leftShift > ul.menuSubItem li.listHeading{
        padding-left:0;
    }
    ul.megaMenu > li.menuItem > div.subMenu.leftShift > ul.menuSubItem li > div .subsubmenu li.listHeading span{
        padding-left:15px;
        float: none;
    }
    
    ul.megaMenu > li.menuItem > div.subMenu.leftShift > ul.menuSubItem li > div .subsubmenu {
        width: 33.3%;
    }
    
    ul.megaMenu > li.menuItem > div.subMenu.leftShift > ul.menuSubItem li > div{
        background:#fff !important;
        display:block;
        width:74%;
        float:right;
        position:absolute;
        top:0;
        left:0;
        border-right:1px solid #e3e3e3;
        height:290px;
    }
    
    ul.megaMenu > li.menuItem > div.subMenu.leftShift > ul.menuSubItem li span{
        display:block;
        width:183px;
        width:193px\9;
        *width:193px;
        float:right;
    }
    
    ul.megaMenu > li.menuItem > div.subMenu.leftShift > ul.menuSubItem li span a{
        text-decoration:none;
        text-align:right;
        color:#000 !important;
        text-shadow:none !important;
        font-weight:bold;
        display:block;
        border-right:1px solid #e3e3e3 !important;
        padding:2px 10px 2px 10px !important;
        height:auto;
        line-height:20px !important;
    }
    ul.megaMenu > li.menuItem > div.subMenu.leftShift > ul.menuSubItem li:hover > span a{
        text-decoration:none;
        color:#ed0008 !important;
        text-shadow:none !important;
        background:#fff url(../../resources/images/btnarw_lft_blk.gif) no-repeat left center;
        display:block;
        z-index:999;
        border-right:1px solid #000 !important;
    }
    
    ul.megaMenu > li.menuItem > div.subMenu.leftShift > ul.menuSubItem li.pre-active > span a{
        text-decoration:none;
        color:#ed0008 !important;
        text-shadow:none !important;
        background:#fff url(../../resources/images/btnarw_lft_blk.gif) no-repeat left center;
        display:block;
        z-index:999;
        border-right:1px solid #000 !important;
    }
    
    ul.megaMenu > li.menuItem.groceryMenu:hover > a, #menu-nav ul li:hover a.grcrylnk  {
        background: #f9f9f9; /* Old browsers */
        background: -moz-linear-gradient(top,  #f9f9f9 0%, #e3e3e3 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#e3e3e3)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #f9f9f9 0%,#e3e3e3 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #f9f9f9 0%,#e3e3e3 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #f9f9f9 0%,#e3e3e3 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #f9f9f9 0%,#e3e3e3 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e3e3e3',GradientType=0 ); /* IE6-9 */
        color:#000 !important;
    }
    ul.megaMenu > li.menuItem.groceryMenu > div.subMenu{
        position:absolute;
        background:#f9f9f9;
        display:inline;
        font-size:11px !important;
        width: 150px;
        min-height: 80px !important;
        list-style: none outside none;
        z-index:999;
        -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
           -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
            -ms-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
             -o-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
                box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
         filter:progid:DXImageTransform.Microsoft.DropShadow(color='cccccc',offX='3',offY='3');
    }
    ul.megaMenu > li.menuItem.groceryMenu > div.subMenu > ul.menuSubItem li span{
        display:block;
        width:100%;
        float:left;
    }
    #menu-nav ul.megaMenu > li.menuItem.groceryMenu > div.subMenu > ul.menuSubItem li {
        position:relative;
    }
    #menu-nav ul.megaMenu > li.menuItem.groceryMenu:hover a{
        color:#333 !important;
    }
    ul.megaMenu > li.menuItem.groceryMenu > div.subMenu > ul.menuSubItem li > div{
        background:#fff !important;
        display:block;
        width:100%;
        float:left;
        position:absolute;
        top:0;
        left:100%;
        border:1px solid #e3e3e3;
        height:auto;
        -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
           -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
            -ms-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
             -o-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
                box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
         filter:progid:DXImageTransform.Microsoft.DropShadow(color='cccccc',offX='3',offY='3');
    }
    
    ul.megaMenu > li.menuItem.groceryMenu > div.subMenu > ul.menuSubItem li > div .subsubmenu {
        display: block;
        float: left;
        width: 92%;
    }
